<div fxLayout="row"  fxLayout.sm="column" fxLayout.xs="column">
    <div  fxFlex.gt-sm="30">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" class="profile-bg-height"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/users/3.jpg" width="100" alt="user">
                </div>
                <h3 class="m-b-0">Angela Dominic</h3>
                <h6 class="m-t-0 ">Admin</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Follow</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">1099</h3>
                        <small>Articles</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">23,469</h3>
                        <small>Followers</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Likes</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="70"  >
        <mat-card>
        <mat-card-content>
            <mat-card-title>Update Account Details</mat-card-title>
            
            <form class="basic-form" [formGroup]="_accountDetailsForm" (ngSubmit)="updateAccount()">
            <div fxLayout="row wrap">
              
                <div fxFlex.gt-sm="33.33" fxFlex="100" class="">
                    <mat-form-field>
                      <input 
                      matInput 
                      formControlName="firstName"
                      placeholder="First name">
                    </mat-form-field>
                </div>
                
                <div fxFlex.gt-sm="33.33" fxFlex="100" class="">
                  <mat-form-field>
                    <input 
                    matInput 
                    formControlName="lastName"
                    placeholder="Last name">
                  </mat-form-field>
                </div>
                
                <div fxFlex.gt-sm="33.33" fxFlex="100" class="">
                  <mat-form-field>
                    <input 
                    matInput 
                    formControlName="middleName"
                    placeholder="Middle name">
                  </mat-form-field>
                </div>
            
                
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                      <input 
                      matInput 
                      formControlName="emailAddress"
                      placeholder="Email address" 
                      type="email">
                  </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                      <input 
                      matInput 
                      formControlName="contactNumber"
                      placeholder="Contact number" 
                      type="text">
                  </mat-form-field>
                </div>
                
                <!-- <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                      <input 
                      matInput 
                      placeholder="Password" 
                      type="password">
                  </mat-form-field>
                </div> -->
                
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                      <textarea 
                      matInput 
                      formControlName="description"
                      placeholder="Description"></textarea>
                  </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-20">
                  <input 
                  formControlName="profileImage"
                  class="form-control b-b" 
                  placeholder="Select Profile image" 
                  type="file"
                  accept="image/*"
                  (change)="imageTest(_accountDetailsForm.value.profileImage)">
                </div>
                <!-- <img [src]="localUrl" class="imgPlaceholder"> -->
                
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <button mat-raised-button color="primary" [disabled]="!_accountDetailsForm.valid">Update Account</button>
                </div>
            </div>
            </form>
        </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
              <mat-form-field>
                <input matInput class="p-b-0" placeholder="Search user" [(ngModel)]="searchText">
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="75" class="text-right">
              <button mat-raised-button  color="primary" (click)="openDialog('Add',{})">Add Account</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100"
      *ngFor="let account of accounts | filter:searchText">
      <mat-card>
        <mat-card-content class="text-center">
          <img src="assets/images/users/default.png" class="img-circle border p-5" width="100">
          <h4 class="card-title m-t-15 m-b-0">{{ account.firstName }} {{ account.lastName }}</h4>
          <small class="text-muted">{{ account.userRole }}</small>
          <div class="m-t-20">
            <button mat-raised-button class="m-r-5" color="primary">Edit</button>
            <button mat-raised-button color="warn">Disable</button>
          </div>
          <div class="m-t-20">
            <span>
              {{ account.emailAddress }}
              <br />
              <br />
              <i class="fa fa-phone m-r-10"></i>{{ account.contactNumber }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>