@media (min-width: 768px) {
    .profile-bg-height {
      max-height: 187px;
    }
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 90%;
  }

  .first-name{
    margin: 0px 10px 0px 0px;
  }

  
 