@import "../../../../../assets/styles/variable.scss";

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}

.button-width {
  width: 80%;
}

.button-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.align-right {
  float: right;
  justify-self: right;
  align-self: right;
}

.center-item {
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.button-purple {
  background-color: $primary;
  color: white;
}

.category-field {
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.category-button {
  background-color: $themecolor;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.category-button {
  height: 60px;
}

.category-button .mat-icon {
  padding: 0px;
  color: white;
}

.category-button:hover {
  cursor: pointer;
}

.category-field .mat-form-field .mat-form-field-wrapper {
  margin-bottom: -1.3em;
  margin-top: 0em;
}

.category-field .mat-form-field-outline-end {
  border-radius: 0 !important;
}

.category-field .mat-form-field-outline-end {
  margin-bottom: 0px;
}

.serial-number-field .mat-form-field .mat-form-field-wrapper {
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
}
