<div fxFlex.gt-xs="100" fxFlex.gt-md="7100" fxFlex="100">
  <mat-icon [mat-dialog-close]="" class="close-icon align-right" color="warn"
    >close</mat-icon
  >
  <div fxLayout="column" fxLayoutWrap="wrap">
    <div *ngIf="!this.equipmentsService.isEdit" fxFlex.gt-sm="50" fxFlex="100">
      <strong> Add Equipment </strong>
    </div>
    <div *ngIf="this.equipmentsService.isEdit" fxFlex.gt-sm="50" fxFlex="100">
      <strong> Edit Equipment </strong>
    </div>

    <form
      [formGroup]="_equipmentForm"
      (ngSubmit)="onModifyEquipment(formDirective)"
      #formDirective="ngForm"
      class="m-t-20"
    >
      <mat-label>Equipment Name *</mat-label>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput required formControlName="equipment" />
      </mat-form-field>

      <div *ngIf="!this.equipmentsService.isEdit">
        <mat-label>Items *</mat-label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            matInput
            required
            (input)="onCategoryOrItemsChange()"
            formControlName="items"
          />
        </mat-form-field>
      </div>

      <mat-label>Equipment Status*</mat-label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="status" required>
          <mat-option
            *ngFor="let status of this.equipmentStatus"
            [value]="status"
          >
            {{ status }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="_equipmentForm.value.status"
          >Equipment status is required</mat-error
        >
      </mat-form-field>

      <mat-label>Category *</mat-label>
      <div class="category-field" fxLayout="row">
        <mat-form-field appearance="outline">
          <mat-select
            formControlName="category"
            (selectionChange)="onCategoryOrItemsChange()"
            required
          >
            <div>
              <form [formGroup]="_searchCategoryForm">
                <mat-form-field class="p-l-20 p-r-20 p-t-20">
                  <mat-placeholder>
                    <mat-icon>search</mat-icon> Search category
                  </mat-placeholder>
                  <input
                    matInput
                    formControlName="searchCategory"
                    (input)="searchCategory($event.target.value)"
                  />
                </mat-form-field>
              </form>
            </div>
            <br />
            <mat-option
              *ngFor="let category of this.categories"
              [value]="category.category"
            >
              {{ category.category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          matSuffix
          type="button"
          class="category-button"
          (click)="openCategoryDialog($event)"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <div *ngIf="!this.equipmentsService.isEdit" class="serial-number-field">
        <mat-label>Serial Number *</mat-label>
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea
            matInput
            required
            rows="{{ serialFieldRow }}"
            formControlName="serialNumber"
          ></textarea>
        </mat-form-field>
      </div>

      <mat-label>Description: *</mat-label>
      <mat-form-field class="example-full-width" appearance="outline">
        <textarea matInput required formControlName="description"></textarea>
      </mat-form-field>

      <div fxLayout="row" fxLayout.xs="column" class="center-item">
        <button
          type="button"
          [mat-dialog-close]=""
          class="button-margin button-width"
          mat-raised-button
          color="basic"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="button-margin button-width"
          color="primary"
          [disabled]="!_equipmentForm.valid"
          [mat-dialog-close]
          mat-raised-button
        >
          {{ actionButton }}
        </button>
      </div>
    </form>
  </div>
</div>
