@import '../../../../../assets/styles/variable.scss';

.close-icon {
    transition: 1s ease-in-out;
  }
  
.close-icon:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }
  
::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }

.button-width{
    width: 80%;
}

.button-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.align-right{
    float: right;
    justify-self: right;
    align-self: right;
}

.center-item{
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}
.button-purple{
  background-color: $primary;
  color: white;
}

.category-field{
  position: relative;
  // height: 50px;
  padding: 0px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.category-icon{
  
  padding-left:10px; 
  margin-right: 0px;
  border-radius: 0px 5px 5px 0px;
}

.category-icon:hover{
  color: $themecolor;
  cursor: pointer;
}

.mat-form-field {
  border-radius: 0px !important;
}

// .example-panel-blue {
//   background-color: rgba(30, 136, 229, 1) !important;
// }

.category-field .mat-form-field .mat-form-field-wrapper{
  margin-bottom: -1.25em;

}
