.close-icon {
    transition: 1s ease-in-out;
    float: right;
  }
  
.close-icon:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }
  
::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }
.category-header{
    justify-content: space-between;
}