
<div class="bg-white">
    <div fxLayout="row" class="category-header">
        <div fxFlex.gt-sm="50" fxFlex="100">
            <strong> Search or Add Category</strong>
        </div>
        <mat-icon [mat-dialog-close]="" class="close-icon align-right" color="warn">close</mat-icon>
    </div>
    <br>
    <form 
    fxLayout="row"
    [formGroup]="_categoryForm" 
    class="d-md-flex align-items-center"
    (ngSubmit)="addCategory(formDirective)" #formDirective="ngForm">
        <mat-form-field class="p-r-15 m-r-15">
            <mat-placeholder>
                <mat-icon>search</mat-icon> Search category
            </mat-placeholder>
            <input 
            matInput 
            formControlName="category" >
        </mat-form-field>
        <div class="ml-auto">
            <button 
            mat-raised-button 
            color="primary" 
            class="shadow-none"
            type="submit"
            id="btnAddTodo">Add Category</button>
        </div>
    </form>
</div>
<br/>
<div *ngFor="let category of categories | filter: _categoryForm.value.category let i=index" class="todo-item py-3 pl-3 border-bottom padding-side-40">
    <div class="todo-item-left d-md-flex w-100" fxLayout="row" >
        <div *ngIf="!category.edit">
            <p style="white-space: nowrap ;">{{category.category}}</p> 
        </div>
        <div class="todo-item-label w-100">
            <div class="d-flex align-items-start" *ngIf="!category.edit">

                <div class="ml-auto px-3 mr-2">
                    <a href="javascript: void(0);" (click)='editCategory(category, "edit")'
                        class="link m-r-10" placement="top" ngbTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a href="javascript: void(0);" class="link text-danger" (click)='deleteCategory(category)'
                        placement="top" ngbTooltip="Delete">
                        <mat-icon>delete_outline</mat-icon>
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-start edit-view" *ngIf="category.edit">

                <mat-form-field>
                    <mat-label></mat-label>
                    <input matInput class="form-control" [(ngModel)]="category.category" />
                </mat-form-field>

                <div class="ml-auto d-flex">
                    <a href="javascript: void(0);" (click)='editCategory(category,"save")'
                        class="link m-r-10" placement="top" ngbTooltip="Save">
                        <mat-icon>done_all</mat-icon>
                    </a>
                    <a href="javascript: void(0);" class="link text-danger" (click)='deleteCategory(category)'
                        placement="top" ngbTooltip="Delete">
                        <mat-icon>delete_outline</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>