<div fxFlex.gt-xs="100" fxFlex.gt-md="7100" fxFlex="100">
    <mat-icon [mat-dialog-close]="" class="close-icon align-right" color="warn">close</mat-icon>
    <div fxLayout="column" fxLayoutWrap="wrap">
        <div  fxFlex.gt-sm="50" fxFlex="100">
            <strong> Add Category </strong>
        </div>

        <form [formGroup]="_categoryForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm"  class="m-t-20">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Category Name</mat-label>
                <input 
                matInput
                required
                formControlName="category">
            </mat-form-field>

            <div fxLayout="row" fxLayout.xs="column" class="center-item">
                <button  
                type="button" 
                [mat-dialog-close]=""  
                class="button-margin button-width" 
                mat-raised-button color="basic">Cancel</button>
                <button  
                type="submit"  
                [mat-dialog-close]="" 
                class="button-margin button-width" 
                color="primary" 
                mat-raised-button >Add</button>
            </div> 
        </form>
    </div>
</div>
