<mat-card>
    <mat-card-content>
      <div class="taskboard page-height" cdkDropListGroup>
  
        <div class="taskboard-wrapper">
          <div class="taskboard-list completed">
            <div class="taskboard-header text-uppercase" >
              <strong>Good</strong>
            </div>
            <div class="taskboard-cards" [cdkDropListData]="good" cdkDropList (cdkDropListDropped)="drop($event)">
              <div class="taskboard-task" cdkDrag *ngFor="let task of good" [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="taskboard-wrapper">
          <div class="taskboard-list inprogress">
            <div class="taskboard-header text-uppercase" >
              <strong>Fair/Poor</strong>
            </div>
            <div class="taskboard-cards" [cdkDropListData]="fairOrPoor" cdkDropList (cdkDropListDropped)="drop($event)">
              <div class="taskboard-task" cdkDrag *ngFor="let task of fairOrPoor" [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="taskboard-wrapper">
          <div class="taskboard-list onhold">
            <div class="taskboard-header text-uppercase" >
              <strong>Scrap/Damage</strong>
            </div>
            <div class="taskboard-cards" [cdkDropListData]="scrapOrDamaged" cdkDropList (cdkDropListDropped)="drop($event)">
              <div class="taskboard-task" cdkDrag *ngFor="let task of scrapOrDamaged" [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="taskboard-wrapper">
          <div class="taskboard-list repaired">
            <div class="taskboard-header text-uppercase" >
              <strong>Repaired</strong>
            </div>
            <div class="taskboard-cards" [cdkDropListData]="repaired" cdkDropList (cdkDropListDropped)="drop($event)">
              <div class="taskboard-task" cdkDrag *ngFor="let task of repaired" [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="taskboard-wrapper">
            <div class="taskboard-list borrowed">
              <div class="taskboard-header text-uppercase" >
                <strong>Borrowed</strong>
              </div>
              <div class="taskboard-cards" [cdkDropListData]="borrowed" cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="taskboard-task" cdkDrag *ngFor="let task of borrowed" [ngClass]="task.class">
                  <div class="taskboard-task-title">{{task.title}}</div>
                  <span class="task-decription">{{task.description}}</span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="taskboard-wrapper">
            <div class="taskboard-list missing">
              <div class="taskboard-header text-uppercase" >
                <strong>Missing</strong>
              </div>
              <div class="taskboard-cards" [cdkDropListData]="missing" cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="taskboard-task" cdkDrag *ngFor="let task of missing" [ngClass]="task.class">
                  <div class="taskboard-task-title">{{task.title}}</div>
                  <span class="task-decription">{{task.description}}</span>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </mat-card-content>
  </mat-card>
