<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center" fxLayout.xs="column">
    <!-- column -->
    <div fxFlex.gt-xs="35" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="column" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100">
                        Add Equipment
                    </div>
                    <form class="m-t-20">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Favorite food">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Status</mat-label>
                            <input matInput placeholder="Favorite food">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="Favorite food">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Category</mat-label>
                            <input matInput placeholder="Favorite food">
                        </mat-form-field>
            
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Leave a comment"></textarea>
                        </mat-form-field>

                        <div class="center-item">
                            <button class="add-button" mat-raised-button color="primary">Add</button>
                        </div> 
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <mat-card fxFlex.gt-xs="100">
        <mat-card-content>
            <mat-card-title>Lists of office equipments</mat-card-title>
            <div class="responsive-table" >
                <mat-table #table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <!-- <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> Position. </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Position:</span>
                            {{element.position}}
                        </mat-cell>
                    </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Name:</span>
                            {{element.name}}
                        </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Status:</span>
                            {{element.weight}}
                        </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="header-label">Symbol:</span>
                            {{element.symbol}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-card-content>
    </mat-card>
</div>