.center-item{
align-self: center;
justify-self: center;
justify-content: center;
align-items: center;
width: 100%;
display: flex;
}

.button-width{
    width: 80%;
}

.button-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.responsive-table mat-header-cell, mat-cell{
    text-align: center;
    justify-content: center;
  }

.action-button{
    margin: 5px;
    padding: 0px;
    align-items: center;
    justify-content: center;

}